<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant Dashboard</title>
    <link rel="icon" href="https://i.ibb.co/3NLmf1N/image-2024-12-31-193140352.png" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/admindashboard.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="left">
            <img src="https://i.ibb.co/kSSZV8j/image-2024-12-31-123153782.png" alt="Site logo">
        </div>
		        
		<div class="dashboard-title">
		    <span>Accountant Dashboard</span>
		</div>
		        
        <div class="right">
            <span th:text="${session.loggedUser.getFirstName()}"></span>
            <span th:text="${session.loggedUser.getLastName()}"></span>
            <div class="dropdown">
                <img 
                    src="https://cdn-icons-png.freepik.com/512/10813/10813375.png" 
                    alt="User icon">
                <div class="dropdown-content">
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Sidebar Section -->
    <aside class="sidebar">
        <a href="/teacherDashboard" class="active">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </a>
    </aside>

    <main class="content">
        <div class="container">
            <div class="title">All Bootcamps</div>
            <table class="bootcamp-table" border=1>
                <thead>
                    <tr>
                        <th>Bootcamp Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bootcamp : ${bootcamps}">
                        <td>
                            <a th:href="@{'/accountant/bootcamp/' + ${bootcamp.id}}" class="bootcamp-link" th:text="${bootcamp.bootcampName}"></a>
                        </td>
                        <td th:text="${bootcamp.description}"></td>
                        <td th:text="${#dates.format(bootcamp.startDate,'dd-MM-yyyy')}"></td>
                        <td th:text="${#dates.format(bootcamp.endDate,'dd-MM-yyyy')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
