<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Bootcamp</title>
<link rel="icon"
      href="https://i.ibb.co/3NLmf1N/image-2024-12-31-193140352.png"
      type="image/icon type">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="left">
            <img src="https://i.ibb.co/kSSZV8j/image-2024-12-31-123153782.png"
                 alt="Site logo">
        </div>
        <div class="right">
            <span th:text="${session.loggedUser.getFirstName()}"></span>
            <span th:text="${session.loggedUser.getLastName()}"></span>
            <div class="dropdown">
                <img src="https://cdn-icons-png.freepik.com/512/10813/10813375.png"
                     alt="User icon">
                <div class="dropdown-content">
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <a href="/adminDashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/teachers"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
        <a href="/students"><i class="fas fa-user-graduate"></i> Students</a>
        <a href="/accountants"><i class="fas fa-file-invoice-dollar"></i> Financials</a>
        <a href="/bootcamps" class="active"><i class="fas fa-laptop-code"></i> Bootcamp</a>
        <a href="/certificates"><i class="fas fa-check-square"></i> Certificate</a>
        <a href="/usersDetails"><i class="fas fa-user"></i>Users Details</a>
    </aside>

    <main class="content">
        <div class="container">
			<div class="form-container">
				<h1>Add Bootcamp</h1>
				<form th:action="@{/bootcamps/addBootcamp}" th:object="${newBootcamp}" method="post">
			
					<label for="bootcampName">Bootcamp Name</label>
					<input type="text" id="bootcampName" th:field="*{bootcampName}" placeholder="Enter Bootcamp Name">
					<ul>
						<li th:each="err : ${#fields.errors('bootcampName')}" th:text="${err}" class="text-danger"></li>
					</ul>
			
					<label for="startDate">Start Date</label>
					<input type="date" id="startDate" th:field="*{startDate}">
					<ul>
						<li th:each="err : ${#fields.errors('startDate')}" th:text="${err}" class="text-danger"></li>
					</ul>
			
					<label for="endDate">End Date</label>
					<input type="date" id="endDate" th:field="*{endDate}">
					<ul>
						<li th:each="err : ${#fields.errors('endDate')}" th:text="${err}" class="text-danger"></li>
					</ul>
			
					<label for="description">Description</label>
					<textarea id="description" th:field="*{description}" placeholder="Enter Description"></textarea>
					<ul>
						<li th:each="err : ${#fields.errors('description')}" th:text="${err}" class="text-danger"></li>
					</ul>
			
					<input id="submit" type="submit" value="Submit">
				</form>
			</div>
			
            <div class="table-container">
                <label>All Bootcamps</label>
                <table border=1>
                    <thead>
                        <tr>
                            <th>Bootcamp</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
					<tbody>
						<tr th:each="bootcamp : ${bootcamps}">
							<td th:text="${bootcamp.bootcampName}"></td>
							<td th:text="${bootcamp.description}"></td>
                            <td th:text="${#dates.format(bootcamp.startDate,'dd-MM-yyyy')}" ></td>
                            <td th:text="${#dates.format(bootcamp.endDate,'dd-MM-yyyy')}" ></td>
						</tr>
					</tbody>
					
                </table>
            </div>
        </div>
    </main>
</body>
</html>
