<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Certificate</title>
    <link rel="icon" href="https://i.ibb.co/3NLmf1N/image-2024-12-31-193140352.png" type="image/icon type">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
        <!-- Header Section -->
        <header class="header">
            <div class="left">
                <img
                    src="https://i.ibb.co/kSSZV8j/image-2024-12-31-123153782.png"
                    alt="Site logo">
            </div>
            <div class="right">
                <span th:text="${session.loggedUser.getFirstName()}"></span>
            <span th:text="${session.loggedUser.getLastName()}"></span>                
            <div class="dropdown">
                    <img 
                        src="https://cdn-icons-png.freepik.com/512/7222/7222220.png" 
                        alt="User icon">
                    <div class="dropdown-content">
                        
                        <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
        </header>
     
        <!-- Sidebar Section -->
        <aside class="sidebar">
            <a href="/adminDashboard" >
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
            <a href="/teachers">
                <i class="fas fa-chalkboard-teacher"></i>
                Teachers
            </a>
            <a href="/students">
                <i class="fas fa-user-graduate"></i>
                Students
            </a>
            <a href="/accountants">
                <i class="fas fa-file-invoice-dollar"></i>
                Financials
            </a>
            <a href="/bootcamps">
                <i class="fas fa-laptop-code"></i>
                Bootcamp
            </a>
            <a href="/certificates" class="active">
                <i class="fas fa-check-square"></i>
                Certificate
            </a>
            <a href="/usersDetails">
                <i class="fas fa-user"></i>
                Users Details
            </a>
        </aside>
     
<main class="content">
     
    <div class="container">
        <div class="form-container">
            <h1>Add Certificate</h1>
            <form action="#" th:action="@{/certificates/addCertificate}" th:object="${newCertificate}" method="post">
                <div class="select_element">
                    <label for="studentSelect">Add Student</label>
                    <select id="studentSelect" th:field="*{students}">
                        <option value="" selected>Select a student</option>
                        <th:block th:each="student : ${students}">
                            <option th:value="${student.id}" th:text="${student.firstName + ' ' + student.lastName}"></option>
                        </th:block>
                    </select>
                </div>                
                <div class="select_element">
                    <label for="bootcampSelect">Add Bootcamp</label>
                    <select id="bootcampSelect" th:field="*{bootcamps}">
                        <option value=""  selected>Select a bootcamp</option>
                        <th:block th:each="bootcamp : ${bootcamps}">
                            <option th:value="${bootcamp.id}" th:text="${bootcamp.bootcampName}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="select_element">
                    <label for="TeacherSelect">Assign Teacher</label>
                    <select id="TeacherSelect" name="teacherId" required>
                        <option value="" disabled selected>Select a Teacher</option>
                        <th:block th:each="teacher : ${teachers}">
                            <option th:value="${teacher.id}" th:text="${teacher.firstName + ' ' + teacher.lastName}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="select_element">
                    <label for="AccountantSelect">Assign Accountant</label>
                    <select id="AccountantSelect" name="accountantId" required>
                        <option value="" disabled selected>Select an Accountant</option>
                        <th:block th:each="account : ${accountants}">
                            <option th:value="${account.id}" th:text="${account.firstName + ' ' + account.lastName}"></option>
                        </th:block>
                    </select>
                </div>
                <input id="submit" type="submit" value="Submit">
            </form>

        </div>
        <div class="table-container">
            <label>All Certificate</label>
            <div class="table-wrapper">
                <table class="text-center" border="1">
                    <thead>
                        <tr>
                            <th>Certificate Id</th>
                            <th>Student Name</th>
                            <th>Bootcamp Name</th>
                            <th>Teacher Status</th>
                            <th>Financial Status</th>
                            <th>Certificate Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="certificate : ${certificates}" >
                            <td th:text="${certificate.uniqueID}" ></td>
                            <td th:text="${certificate.students.get(0).firstName} + ' '+${certificate.students.get(0).lastName} "></td>
                            <td th:text="${certificate.bootcamps.get(0).bootcampName}"></td>
                                    <td th:each="approval : ${approvals}"
                                        th:if="${approval.certificate != null and approval.certificate.id == certificate.id}" 
                                        class="approval-item">
                                        <span class="approval-text" 
                                        th:text="${approval.user.firstName  + ': ' + (approval.approvalStatus ? 'Pass' : 'Not Pass')}"></span>
                                    </td>
                          <td>
                                <span th:if="${!certificate.getCertificateStatus()}" class="certificate-status not-ready">not ready</span>
                                <span th:if="${certificate.getCertificateStatus()}" class="certificate-status ready">Certificate ready</span>
                          </td>
                          <td><a th:href="@{/certificates/delete/{id}(id=${certificate.id})}" onclick="return confirm('Are you sure you want to delete this certificate?')">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    </main>
</body>
</html>