<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Details</title>
    <link rel="icon" href="https://i.ibb.co/3NLmf1N/image-2024-12-31-193140352.png" type="image/icon type">
    <link rel="stylesheet" href="/css/bootcampdetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<!-- Header Section -->
<header class="header d-flex justify-content-between align-items-center p-3 bg-light border-bottom">
    <div class="left">
        <img src="https://i.ibb.co/kSSZV8j/image-2024-12-31-123153782.png" alt="Site logo">
    </div>
    <div class="right d-flex align-items-center">
        <span th:text="${session.loggedUser.getFirstName()}"></span>
        <span th:text="${session.loggedUser.getLastName()}"></span>
        <div class="dropdown ms-3">
			<img  src="https://cdn-icons-png.freepik.com/512/7222/7222220.png" alt="User icon">
            <div class="dropdown-content">
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </div>
</header>

<!-- Sidebar Section -->
<aside class="sidebar bg-dark text-white p-3">
    <nav class="nav flex-column">
        <a href="/adminDashboard" ><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/teachers" class="nav-link text-white"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
        <a href="/students" class="nav-link text-white"><i class="fas fa-user-graduate"></i> Students</a>
        <a href="/accountants"  class="nav-link text-white"><i class="fas fa-file-invoice-dollar"></i> Financials</a>
        <a href="/bootcamps" class="nav-link text-white"><i class="fas fa-laptop-code"></i> Bootcamp</a>
        <a href="/certificates" class="nav-link text-white"><i class="fas fa-check-square"></i> Certificate</a>
        <a href="/usersDetails" class="nav-link active text-white"><i class="fas fa-user"></i> User Details</a>
    </nav>
</aside>

<main class="content">
    <div class="container">

        <h1 class="text-center">Users and Their Roles</h1>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the usersWithRoles list -->
            <tr th:each="user : ${usersWithRoles}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <!-- Iterate over the roles associated with the user -->
                <td>
                    <ul>
                        <li th:each="role : ${user.roles}" th:text="${role.roleName}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <h1 class="text-center">Users and Roles Details</h1>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role Name</th>
                <th>Role Description</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over the usersWithRoles list -->
            <tr th:each="record : ${usersDetails}">
                <!-- Display User Fields -->
                <td th:text="${record[0].id}"></td>
                <td th:text="${record[0].firstName}"></td>
                <td th:text="${record[0].lastName}"></td>
                <td th:text="${record[0].email}"></td>
                <!-- Display Role Fields -->
                <td th:text="${record[1].roleName}"></td>
                <td th:text="${record[1].roleDescription}"></td>
            </tr>
            </tbody>
        </table>




    </div>
</main>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
