<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootcamp Details</title>
    <link rel="icon" href="https://i.ibb.co/3NLmf1N/image-2024-12-31-193140352.png" type="image/icon type">
    <link rel="stylesheet" href="/css/bootcampdetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<!-- Header Section -->
<header class="header d-flex justify-content-between align-items-center p-3 bg-light border-bottom">
    <div class="left">
        <img src="https://i.ibb.co/kSSZV8j/image-2024-12-31-123153782.png" alt="Site logo">
    </div>
    <div class="right d-flex align-items-center">
        <span th:text="${session.loggedUser.getFirstName()}"></span>
        <span th:text="${session.loggedUser.getLastName()}"></span>
        <div class="dropdown ms-3">
			<img src="https://cdn-icons-png.freepik.com/512/10813/10813375.png" alt="User icon">
            <div class="dropdown-content">
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
    </div>
</header>

<!-- Sidebar Section -->
<aside class="sidebar bg-dark text-white p-3">
    <nav class="nav flex-column">
        <a href="/adminDashboard" ><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/teachers" class="nav-link text-white"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
        <a href="/students" class="nav-link text-white"><i class="fas fa-user-graduate"></i> Students</a>
        <a href="/accountants"  class="nav-link text-white"><i class="fas fa-file-invoice-dollar"></i> Financials</a>
        <a href="/bootcamps" class="nav-link text-white"><i class="fas fa-laptop-code"></i> Bootcamp</a>
        <a href="/certificates" class="nav-link text-white"><i class="fas fa-check-square"></i> Certificate</a>
        <a href="/usersDetails" class="nav-link active text-white"><i class="fas fa-user"></i> Certificate</a>
    </nav>
</aside>

<main class="content">
    <div class="container">




        <section>
            <h2>Users Details</h2>
            <table border=1>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
